html {
  direction: initial;
}

body {
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}

.max-viewport-width {
  max-width: 1168px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
